.staff-item {
  text-align: left;
}

.tenant-item {
  margin: 20px;
  display: flex;
}

.tenant-details {
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
  text-align: left;
}

.lease-details {
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
  text-align: left;
}

.units {
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
  text-align: left;
}

.building-details-col25{
  float: left;
  width: 25%;
  text-align: left;
}

.building-details-col75{
  float: left;
  width: 70%;
  font-size: large;
  text-align: left;
  margin-left: 30%;
}

.building-details-row::after{
  content: "";
  display: table;
  clear: both;
}

.building-details-label{
  font-size: xx-large;
}

.building-details-sub-label{
  font-size: x-large;
}

.building-details-col50{
  float: left;
  width:50%;
  text-align: left;
  margin-left: 15%;
}