.building-details-col25{
  float: left;
  width: 25%;
}

.building-details-col75{
  float: right;
  width: 70%;
  font-size: large;
  text-align: left;
}

.building-details-row::after{
  content: "";
  display: table;
  clear: both;
}

.building-details-label{
  font-size: xx-large;
}

.building-details-sub-label{
  font-size: x-large;
}


.building-details-staffcard::after{
  content: "";
  display: table;
  clear: both;
}
.building-details-textfield{
  width: 75%;
}

.building-details-tenant-col25{
  float: left;
  width: 25%;
}

.building-details-tenant-col75{
  float: left;
  width: 70%;
  font-size: large;
  text-align: left;
  margin-left: 5%;
}