.wlcText{
    font-size: xxx-large;
}

.create-staff-acc-label{
    padding: 12px 12px 12px 0;
    display: inline-block; 
}

.create-staff-acc-input-text{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.create-staff-acc-form{
    margin-left: 20%;
    margin-right: 20%;
}

.create-staff-acc-row::after{
    content: "";
    display: table;
    clear: both;
}

.create-staff-acc-col25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.create-staff-acc-col75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

.create-staff-acc-input-submit{
    background-color: royalblue;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.create-supervisor-acc-label{
    padding: 12px 12px 12px 0;
    display: inline-block; 
}

.create-supervisor-acc-input-text{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.create-supervisor-acc-form{
    margin-left: 20%;
    margin-right: 20%;
}

.create-supervisor-acc-row::after{
    content: "";
    display: table;
    clear: both;
}

.create-supervisor-acc-col25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.create-supervisor-acc-col75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

.create-supervisor-acc-input-submit{
    background-color: royalblue;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.create-staff-acc-textfield{
    width: 80%;
    text-align: left;
}

.create-supervisor-acc-textfield{
    width: 80%;
}
