.ticketNav {
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: left;
    padding: 0rem 2rem; 
    height: 6rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 0;
}

.ticket nav li{
    padding: 0rem 1rem;
}

li{
    list-style: none;
    display: flex;
}

.create-ticket-box {
    border: black 1px solid;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3rem;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 2rem;
}

.ticketlabel{
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0.5rem 2rem;
}

.Top Nav Bar{
    margin-top: 0;
}

.create-ticket-select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.create-ticket-label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.field-row {
    margin-bottom: 2rem;
    padding-bottom: 20px;
}

.con-25{
    text-align: left;
    float: left;
    width: 25%;
    margin-top: 6px;
}

.con-75 {
    float: left;
    text-align: left;
    width: 75%;
    margin-top: 6px;
  }

.ticket-creation-form{
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.ticket-creation-title{
    font-size: xxx-large;
}

.create-ticket-icons {
    width: 50px;
    transform: translateX(-50%);
}

.name-textfield {
    background-color: white;
}

.description-textfield {
    background-color: white;
}

.submit-button {
    margin-top: 100rem;
    background-color: #4CAF50;
    padding: 0.5rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem;
}

.submit-button:hover {
    background-color: #45a049;
}
