.ticketNav {
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: left;
    padding: 0rem 2rem; 
    height: 6rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 0;
}

.ticket nav li{
    padding: 0rem 1rem;
}

.viewtixh1{
    margin: 3rem;
}

li{
    list-style: none;
    display: flex;
}

/* img{
    object-fit: scale-down;
    height: 20px;
    width: 20px;
} */

h3{
    font-size: 70%;
}

.ticketlabel{
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0.5rem 2rem;
}

.Top Nav Bar{
    margin-top: 0;
}

.Tabs{
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0.5rem 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.create-ticket-input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.create-ticket-select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.create-ticket-description{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 5rem;
}

.create-ticket-button{
    background-color: royalblue;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.create-ticket-label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.con-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.con-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

.ticket-creation-form{
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.ticket-creation-title{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: xxx-large;
}

.create-ticket-icons {
    width: 50px;
    transform: translateX(-50%);
}