table {
    margin: 0 auto;
    border-spacing: 10px 2rem;
}

td {
    padding: 80px;
    border: #333;
    border-style: solid;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.loginButton {
    background-color: #0780FE;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 12px;
}